@import url(./MasonryHelper.scss);

.masonry {
  display: grid;
  max-width: 100%;
// light
// dark
// card
// clickable card
// image
// image-background + content
// clickable

  &.light .item {
    background: teal;
    color: white;
  }

  &.dark .item {
    background: white;
    color: teal;
  }

  &.imageonly .item {
    .image-holder {
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
    .content-holder, .action-holder {
      display: none;
    }
  }

  &.card .item {
    .image-holder {
      height: 200px;
      overflow: hidden;
    }
    .content-holder {
      padding: 20px 30px;
    }
    .action-holder {
      padding: 0 30px 30px;
    }
  }

  &.imagebg .item {
    .image-holder {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      background: #000;
      img {
        opacity: 0.7;
      }
    }
    .content-holder {
      padding: 0;
      position: relative;
      z-index: 2;
      text-align: center;
      min-height: 200px;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      p { padding: 0 30px; }
    }
    .action-holder a {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      text-indent: -9999px;
    }

  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .item {
    position: relative;
    background: white;
  }

	&.rounded {
		.item {
			border-radius: 5px;
			overflow: hidden;
		}

		&-rounded1 .item {
			border-radius: 10px;
		}

		&-rounded2 .item {
			border-radius: 15px;
		}

		&-rounded3 .item {
			border-radius: 20px;
		}
	}
}